<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<div class="container-fluid debug bg-primary p-3">
    <div class="row">
        <span class="col-2 col-md-2 col-lg-1 p-0 span-center">
            <span class="div-center p-1">
                <a href="./home">altAdminPanel</a>
            </span>
        </span>

        <span class="col-7 col-md-5 col-lg-3 p-0 span-center">
            <div class="container-fluid">
                <div class="row">
                    <span class="col p-1 div-center" ngClass="">
                        <a href="./products" class="mx-auto">продукти</a>
                    </span>
                    <span class="col p-1 div-center">
                        <a href="./images" class="mx-auto">зображення</a>
                    </span>
                    <span class="col p-1 div-center">
                        <a href="./orders" class="mx-auto">замовлення</a>
                    </span> 
                </div>
            </div>
        </span>

        <span class="col-1 col-md-3 col-lg-7 debug"></span>

        <span class="col-2 col-md-2 col-lg-1 p-0 span-center">
            <span class="div-center p-1">
                <a id="account-btn" class="material-symbols-outlined" href="./home">person</a>
            </span>
        </span>
    </div>
</div>