<div>
    <app-header></app-header>
    <div class="flex flex-row">
        <div class="basis-1/2 w-full">
            <p>ksajdkasjd</p>
        </div>
        <div class="basis-1/2 w-full">
            <div class="container">
                <span>
                    1
                </span>
                <span>
                    2
                </span>
            </div>
            <div *ngFor="let product of productsData">
                <app-product-box class="w-full"
                [product]="product">
                </app-product-box>
            </div>
        </div>
    </div>
</div>