/* You can add global styles to this file, and also import other style files */
//postcss.config.js

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    outline: 1px solid red;
}

.debug {
    outline: 4px solid blue;
}

.debug2 {
    outline: 4px solid green;
}

